{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "strict": ["error", "never"],
    "no-unsafe-negation": ["error", { "enforceForOrderingRelations": true }]
  },
  "env": {
    "browser": true
  }
}